name: Waka Readme

on:
  schedule:
    # Запуск каждые 24 часа (в полночь)
    - cron: '0 0 * * *'
  workflow_dispatch: # Позволяет запустить вручную

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
